.header {
  background-color: #666;
  background-size: 100%;
  background: url(https://blog-cdn.hahhub.com/css/images/banner.jpg) center #000;
  min-height: 300px;
}

.nav {
  opacity: 1;
}

.nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px;
}

.title {
  color: #fff;
  text-align: center;
  line-height: 200px;
}
