* {
  padding: 0;
  margin: 0;
}

body {
	background-color: #666;
  background-size: 100%;
	/*background-image: url(./assets/cat.jpg);*/
  background-image: url(https://image-cdn.hahhub.com/images/2019/08/04/284ec7189d50dd3283fe361053b32c9d.jpg);
}
