<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      function emitUpdate() {
        const event = document.createEvent('Event');
        event.initEvent('sw.update', true, true);
        window.dispatchEvent(event);
      }

      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js').then(function(reg) {
          if (reg.waiting) {
            emitUpdate();
            return;
          }

          reg.onupdatefound = function () {
            const installingWorker = reg.installing;
            installingWorker.onstatechange = function () {
              switch (installingWorker.state) {
                case 'installed':
                  if (navigator.serviceWorker.controller) {
                    emitUpdate();
                  }
                  break;
              }
            };
          };
        }).catch(function(e) {
          console.error('Error during service worker registration:', e);
        });

        window.addEventListener('sw.update', () => {
          // 弹出提示，引导用户刷新页面
          const status = window.confirm('[sw.update] 更新 Server Worker ？');
          if (!status) {
            return;
          }

          try {
            navigator.serviceWorker.getRegistration().then(reg => {
              reg.waiting.postMessage('skipWaiting');
            });
          } catch (e) {
            window.location.reload();
          }
        });

        let refreshing = false;
        navigator.serviceWorker.addEventListener('controllerchange', () => {
          const status = window.confirm('[controllerchange] 更新 Server Worker ？');
          if (!status) {
            return;
          }
          if (refreshing) {
            return;
          }
          refreshing = true;
          window.location.reload();
        });
      }

      // window.addEventListener('sw.offline', () => {
      //   // 置灰某些组件
      //   console.log('sw.offline');
      // });
    </script>
  </body>
</html>
